/* ------------------- Normalize Css -----------------*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*------------------- Root variable ------------------- */
:root {
  --color-primary: #2f5bea;
  --color-secondary: #87bc25;
  --color-white: #fff;
  --color-subtitle: #081d43;
  --color-title: #6c7890;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  line-height: 1.7;
}
h1,
h2,
h3 {
  color: var(--color-subtitle);
}
h1 {
  font-size: 3.5rem;
}
h2,
h3 {
  font-size: 2.5rem;
}
h4,
h5,
p {
  color: var(--color-title);
}
.subtitle {
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2,
  h3 {
    font-size: 2rem;
  }
}
/*------------------- container -------------------*/
.container {
  max-width: 1280px;
  /* background-color: #ccc; */
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 750px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 620px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    max-width: 100%;
  }
}
/*------------------- button ------------------- */
.btn {
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 1rem 2.5rem;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  font-size: 1.8rem;
}
.btn__primary {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.btn__secondary {
  color: var(--color-white);
  background-color: var(--color-secondary);
}
@media screen and (max-width: 1024px) {
  .btn {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 640px) {
  .btn {
    font-size: 1.2rem;
  }
}
/*------------------- Header ------------------- */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}
.menu__item a {
  text-decoration: none;
  color: var(--color-subtitle);
}
.header__icon {
  font-size: 1.8rem;
  color: var(--color-subtitle);
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .menu {
    /* display: none; */
    position: fixed;
    top: 0;
    left: -210px;
    bottom: 0;
    background-color: var(--color-subtitle);
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    flex-direction: column;
    padding: 3rem 3rem;
    z-index: 10;
    transition: all 0.3s ease-out;
  }
  .menu__item a {
    font-size: 1.2rem;
    color: var(--color-white);
  }
  .menu-btn {
    display: none;
  }
  .header__icon {
    display: block;
  }
}
@media screen and (max-width: 640px) {
  .header {
    margin:auto 1.5rem;
  }
}
/*------------------- Slider Section ------------------- */
.slider {
  padding: 5rem 0;
}
.slider-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.slider-content__left {
  flex-basis: 50%;
}
.slider-content__right {
  flex-basis: 50%;
}
.slider-content__img {
  width: 100%;
}
.slider-content__btns {
  display: flex;
  gap: 1rem;
}
.slider-content__wrapper {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (max-width: 768px) {
  .slider-content {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .slider-content__wrapper {
    max-width: 100%;
  }
  .slider-content__btns {
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
@media screen and (max-width: 640px) {
  .slider-content{
    margin: auto 2rem;
  }
}
/*------------------------ main ------------------------ */
/*------------------- works section -------------------- */
.works {
  text-align: center;
  margin-top: 5rem;
}
.works-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5rem;
  flex-wrap: wrap;
  gap: 3rem;
}
.works-content__title {
  color: var(--color-subtitle);
  font-size: 1.8rem;
}
.works-content__item {
  flex-basis: 300px;
  flex-shrink: 0;
}
/* .works-content__text {
  max-width: 350px;
} */
.wrapper-img {
  max-width: 500px;
  margin: 5rem auto;
}
.works__img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .works-content__item {
    flex-basis: 250px;
  }
}
@media screen and (max-width: 640px) {
  .works-content__item {
    max-width: 100%;
  }
  .wrapper-img {
    max-width: 300px;
  }
}
/*------------------- comments section -------------------- */
.comments {
  text-align: center;
  padding: 5rem 0;
  background-color: var(--color-primary);
}
.comments__title,
.comments__subtitle {
  color: var(--color-white);
}
.comments__subtitle {
  margin-top: 1rem;
  max-width: 500px;
  margin: 0 auto;
}
.comments-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 6rem 0;
}
.comments-list__item {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white);
  border-radius: 4px;
  flex-basis: 350px;
  margin: 1rem;
}
.comment__body {
  text-align: start;
  padding: 2rem 3rem;
}
.comment-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1rem;
  border-top: 1px dashed #ccc;
}
.comment-info__person {
  color: var(--color-subtitle);
  margin-left: 0.5rem;
}
.comment-container {
  max-width: 1024px;
  margin: 0 auto;
}
.companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.companies__img {
  display: block;
  margin: 1rem;
}
@media screen and (max-width: 768px) {
  .comment-container {
    max-width: 640px;
  }
  .comments-list__item {
    flex-basis: 300px;
    height: 250px;
    flex-shrink: 0;
  }
  .comments-list {
    overflow-x: auto;
  }
  .companies {
    justify-content: center;
  }
}
@media screen and (max-width: 640px) {
  .comment-container {
    max-width: 100%;
  }
}
/*------------------- Portfolio Section -------------------- */
.portfolio {
  text-align: center;
  padding: 5rem 0;
}
.portfolio-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
}
.portfolio__item {
  flex-basis: 250px;
  margin: 2rem;
  border-radius: 4px;
  overflow: hidden;
}
.portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .portfolio-items {
    justify-content: center;
  }
}
/*------------------- footer Section -------------------- */
.newsletter {
  background-color: var(--color-primary);
  padding: 5rem 0;
}
.newsletter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter__text {
  color: var(--color-white);
}
.newsletter__email {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  background-color: var(--color-white);
  flex-basis: 320px;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}
.newsletter__input {
  border: none;
  outline: none;
  width: 100%;
}
.copy-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}
.copy-right__text {
  font-size: 1.4rem;
}
@media screen and (max-width: 768px) {
  .copy-right {
    flex-direction: column;
  }
  .newsletter-wrapper {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }
  .newsletter__email {
    flex-basis: 100%;
    /* align-self: center; */
  }
  .newsletter {
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  .newsletter-wrapper {
    margin: auto 2rem;
  }
}