/* ------------------- Normalize Css -----------------*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*------------------- Root variable ------------------- */
:root {
  --color-primary: #2f5bea;
  --color-secondary: #87bc25;
  --color-white: #fff;
  --color-subtitle: #081d43;
  --color-title: #6c7890;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  line-height: 1.7;
}
h1,
h2,
h3 {
  color: var(--color-subtitle);
}
h1 {
  font-size: 3.5rem;
}
h2,
h3 {
  font-size: 2.5rem;
}
h4,
h5,
p {
  color: var(--color-title);
}
.subtitle {
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2,
  h3 {
    font-size: 2rem;
  }
}
/*------------------- container -------------------*/
.container {
  max-width: 1280px;
  /* background-color: #ccc; */
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1000px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 750px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 620px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    max-width: 100%;
  }
}
/*------------------- button ------------------- */
.btn {
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 1rem 2.5rem;
  border-radius: 8px;
  text-align: center;
  white-space: nowrap;
  font-size: 1.8rem;
}
.btn__primary {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.btn__secondary {
  color: var(--color-white);
  background-color: var(--color-secondary);
}
@media screen and (max-width: 1024px) {
  .btn {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 640px) {
  .btn {
    font-size: 1.2rem;
  }
}
/*------------------- Header ------------------- */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
/* .nav-logo {
    background-color: #081d43;
}
.nav-logo__img {
    width: 100%;
    height: 100%;
    background-color: #87bc25;
} */
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}
.menu__item a {
  text-decoration: none;
  color: var(--color-subtitle);
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
/*------------------- Slider Section ------------------- */
.slider {
  padding: 5rem 0;
}
.slider-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.slider-content__left {
  flex-basis: 50%;
}
.slider-content__right {
  flex-basis: 50%;
}
.slider-content__img {
  width: 100%;
}
.slider-content__btns {
  display: flex;
  gap: 1rem;
}
.slider-content__wrapper {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
/*------------------------ main ------------------------ */
/*------------------- works section -------------------- */
.works {
  text-align: center;
  margin-top: 5rem;
}
.works-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5rem;
}
.works-content__title {
  color: var(--color-subtitle);
  font-size: 1.8rem;
}
.works-content__text {
  max-width: 350px;
}
.wrapper-img {
  max-width: 500px;
  margin: 5rem auto;
}
.works__img {
  width: 100%;
}
/*------------------- comments section -------------------- */
.comments {
  text-align: center;
  padding: 5rem 0;
  background-color: var(--color-primary);
}
.comments__title,
.comments__subtitle {
  color: var(--color-white);
}
.comments__subtitle {
  margin-top: 1rem;
  max-width: 500px;
  margin: 0 auto;
}
.comments-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 6rem 0;
}
.comments-list__item {
  height:350px;
  display: flex;
  flex-direction: column;
  justify-content:space-between ;
  background-color: var(--color-white);
  border-radius: 4px;
  flex-basis: 350px;
  margin: 1rem;
}
.comment__body {
  text-align: start;
  padding: 2rem 3rem;
}
.comment-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1.5rem;
  border-top: 1px dashed #ccc;
}
.comment-info__person {
  color: var(--color-subtitle);
  margin-left: 0.5rem;
}
.comment-container {
  max-width:1024px;
  margin:0 auto;
}
.companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.companies__img {
  display: block;
  margin: 1rem;
}
/*------------------- Portfolio Section -------------------- */
.portfolio {
  text-align: center;
  padding: 5rem 0;
}
.portfolio-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
}
.portfolio__item {
 flex-basis: 350px;
 margin: 2rem;
 border-radius: 10px;
 overflow: hidden;
}
.portfolio__img {
  width: 100%;
  height: 100%;
}
/*------------------- footer Section -------------------- */
.newsletter {
  background-color: var(--color-primary);
  padding: 5rem 0;
}
.newsletter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter__text {
  color: var(--color-white);
}
.newsletter__email {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: var(--color-white);
  flex-basis: 320px;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}
.newsletter__input {
  border: none;
  outline: none;
}
.copy-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}