<section class="comments">
  <div class="container">
    <h2 class="comments__title">You’re in a good hand</h2>
    <p class="comments__subtitle">
      There are many variations of passages of Lorem Ipsum available, but the
      majority have suffered.
    </p>
    <div class="comment-container">
      <div class="comments-list">
        <div class="comments-list__item">
          <p class="comment__body">
            Life before Company was very chaotic we got a lot of phone calls, a
            lot of mistyped orders. So with Company, the ability to see the
            order directly from the customer makes it so streamlined.
          </p>
          <div class="comment-info">
            <img
              src="./assets/images/person-1.png"
              alt=""
              class="comment-info__img"
            />
            <p class="comment-info__person">Martin Jones, Creative Cons</p>
          </div>
        </div>
        <div class="comments-list__item">
          <p class="comment__body">
            Life before Company was very chaotic we got a lot of phone calls, a
            lot of mistyped orders. So with Company, the ability to see the
            order directly from the customer makes it so streamlined.
          </p>
          <div class="comment-info">
            <img
              src="./assets/images/person-2.png"
              alt=""
              class="comment-info__img"
            />
            <p class="comment-info__person">Martin Jones, Creative Cons</p>
          </div>
        </div>
        <div class="comments-list__item">
          <p class="comment__body">
            Life before Company was very chaotic we got a lot of phone calls, a
            lot of mistyped orders. So with Company, the ability to see the
            order directly from the customer makes it so streamlined.
          </p>
          <div class="comment-info">
            <img
              src="./assets/images/person-3.png"
              alt=""
              class="comment-info__img"
            />
            <p class="comment-info__person">Martin Jones, Creative Cons</p>
          </div>
        </div>
      </div>
      <div class="companies">
        <img
          src="./assets/images/logo-1.svg"
          alt="sotheby,s"
          class="companies__img"
        />
        <img
          src="./assets/images/logo-2.svg"
          alt="new relic"
          class="companies__img"
        />
        <img
          src="./assets/images/logo-3.svg"
          alt="atlassian"
          class="companies__img"
        />
        <img
          src="./assets/images/logo-4.svg"
          alt="shopify"
          class="companies__img"
        />
        <img
          src="./assets/images/logo-5.svg"
          alt="combinator"
          class="companies__img"
        />
      </div>
    </div>
  </div>
</section>
