<header class="header container">
    <nav class="nav">
      <div class="nav-logo">
        <img
          src="./assets/images/Interactive-ART.png"
          alt="Interactive art"
          class="nav-logo__img"
        />
      </div>
      <ul class="menu menu-items">
        <li class="menu__item"><a href="#">Home</a></li>
        <li class="menu__item"><a href="#">About</a></li>
        <li class="menu__item"><a href="#">How it work</a></li>
        <li class="menu__item"><a href="#">Clients</a></li>
        <li class="menu__item"><a href="#">Portfolio</a></li>
      </ul>
    </nav>
    <button class="btn btn__primary">Contact us</button>
  </header>