<section class="works container">
  <h5 class="works__subtitle">HOW IT WORK</h5>
  <h2 class="works__title">Three Simple Step To Started Working Process</h2>
  <div class="works-content">
    <div class="works-content__item">
      <h5 class="works-content__title">Research Project</h5>
      <p class="works-content__text">
        There are many variations of passages of Lorem Ipsum available
      </p>
    </div>
    <div class="works-content__item">
      <h5 class="works-content__title">Targeting</h5>
      <p class="works-content__text">
        There are many variations of passages of Lorem Ipsum available
      </p>
    </div>
    <div class="works-content__item">
      <h5 class="works-content__title">Result</h5>
      <p class="works-content__text">
        There are many variations of passages of Lorem Ipsum available
      </p>
    </div>
  </div>
  <div class="wrapper-img">
    <img
      src="./assets/images/main-img.svg"
      alt="works image"
      class="works__img"
    />
  </div>
</section>
